
@font-face {
    font-family: retro-font;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

html,body{
    margin: 0px;
    height: 100%;
    font-family: retro-font;
}

html{
    font-size: 62.5%;
}
body{
    display: flex;
    font-size: 1.6rem;
}

.form-container{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    
}

.img-container{
    display: flex;
    max-width: 70vw;
    flex: 1;
}

.img-container>img{
    width: 100%;
    /* border: solid green; */
}
.form-content{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex: 1;
    background-color: rgb(255, 224, 168);
    width: 40%;
}


.legend-container{
    display: flex;
    align-content: center;
    justify-content: center;
    animation: slide-up;
    animation-duration: 4s;
}

.legend-container>legend{
    text-align: center;
    align-content: center;
    margin-bottom: 10px;
    font-size: 2rem;
}

@keyframes slide-up {
    0%{
        opacity: 0;
        transform: translateX(-30%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
    
}

.form-content>form{
    display: flex;
    flex-wrap: wrap;
    height: 40rem;
    align-self: center;
    width: 38rem;
    padding: 12px;
    padding-bottom: 4px;
    justify-content: space-evenly;
    gap: 4px;
    background-color: rgb(255, 215, 142);
    border-radius: 6px;
    color: black;
    box-shadow: 8px 8px lightgrey;
    animation-name: slide;
    animation-duration: 2s;
}

@keyframes slide {
    0%{
        opacity: 0;
        transform: translateX(20%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
    
}

.fields-container{
    /* display: block; */
    display: flexbox;
    flex-wrap: wrap;
}

label,input{
    display: flex;
    margin-bottom: 2px;
    flex-wrap: wrap;
}

label{
    margin-bottom: 8px;
}

input{
    background-color: rgb(248, 245, 208);
    width: 18rem;
    border-radius: 3px;
    border: none;
    font-size: 1.5rem;
    font-family: retro-font;
}


.button-container>button{
    font-family: retro-font;
    background-color: rgb(162, 162, 119);
    border-radius: 4px;
    background-color: white;
    color: black;
    border: none;
    padding: 8px;
    font-weight: bold;
    box-shadow: 4px 4px green;
}

.button-container>button:hover{
    color: white;
    background-color: black;
}

input:invalid{
    border: solid red 1px;
}